
#outer
{
height:1000px;
width:1000px;
margin:0 auto;
border:2px solid black;
}

.row
{
height:125px;
width:1000px;
background-color:red;
}

.black
{
height:125px;
width:125px;
background-color:black;
float:left;
color:white;
font-size:90px;
}

.white
{
height:125px;
width:125px;
background-color:white;
float:left;
color:black;
font-size:90px;
}

.margin{
    margin-left: 15px;
}

#nav{
height:50px;
width:700px;
border:1px solid black;
}